<div class="jumbotron">
  <h1>Welcome to CourseCatalog</h1>

  <h2>
    This application is assignment for class capstone of software engineering
  </h2>
</div>
<% if !logged_in? %>
<%= link_to "Sign up now!", signup_path, {style: "color:#FFFFFF", class: "btn btn-lg btn-primary text-danger"} %>
<%= link_to "Log in now!", login_path,  {style: "color:#FFFFFF", class: "btn btn-lg btn-primary"} %>
</br>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_url('SCC.png')%>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_url('SCC.png')%>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_url('SCC.png')%>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <%= image_url('SCC.png')%>
    </a>
  </div>
</div>
<% end %>
