<div class="jumbotron">
  <h1>Welcome to CourseCatalog</h1>

  <h2>
    This application is assignment for class capstone of software engineering
  </h2>
</div>
<% if !logged_in? %>
<%= link_to "Sign up now!", signup_path, {style: "color:#FFFFFF", class: "btn btn-lg btn-primary text-danger"} %>
<%= link_to "Log in now!", login_path,  {style: "color:#FFFFFF", class: "btn btn-lg btn-primary"} %>
<br><br>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("seal.png",class: "media-object",style: "height:200px;width:100%") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("brandeis-front.jpg",class: "media-object",style: "height:200px;width:100%") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("SCC.jpg", class: "media-object", style: "height:200px;width:100%") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
<% end %>
