<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.email %></td>
        <td><%= instructor.first %></td>
        <td><%= instructor.last %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>
