<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <%= gravatar_for @user %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                          <%= @user.firstname %>
                          <%= @user.lastname %>
                        </h4>
                        <i class="glyphicon glyphicon-envelope"></i>  <%= @user.account %><br/><br/>
                        <button type="button" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Registered Courses</h1>
<table class="table">
  <thead>
    <tr>
      <th class="col-md-1">Code</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-6">Description</th>
      <th class="col-md-1 center">IS</th>
      <th class="col-md-1 center">Select</th>
    </tr>
  </thead>
  <tbody>
    <% registered_courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td class="center">
          <% if course.independent_study == 't'%>
            <h4><span class="label label-info">Yes</span></h4>
          <% else %>
            <h4><span class="label label-default">No</span></h4>
          <% end %>
        </td>
          <td class="center">
            <%= form_for(:enrollment, :method => :delete, url: enrollments_path) do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id%>
            <%= f.hidden_field :course_id, value: course.id%>
            <%= f.button "Cancel", class: 'btn btn-warning', data: { confirm: "Are you sure you Cancel this class?" } %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
