<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :term %>
    <%= f.number_field :term %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :continuity_id %>
    <%= f.number_field :continuity_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :credites %>
    <%= f.number_field :credites %>
  </div>

  <div class="field">
    <%= f.label :independent_study %>
    <%= f.check_box :independent_study %>
  </div>

  <div class="field">
    <%= f.label :repuirements %>
    <%= f.text_field :repuirements %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
